.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;

  top: 0;
  z-index: 100;
}

.header-logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_search {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 24px;
  margin-right: 10px;
}

.header_searchInput {
  width: 100%;
  height: 24px !important;
  padding: 10px;
  border: none;
}

.header_searchIcon {
  background-color: #cd9042;
  height: 22px;
  padding: 5px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  color: white;
}

.header_optionLineOne {
  font-size: 12px;
}

.header_optionLineTwo {
  font-size: 15px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 5px;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.login_link {
  text-decoration: none;
}

.signedIn {
  color: rgb(255, 86, 86); /* Change this to the desired color when signed in */
}

.signedOut {
  color: rgb(112, 255, 112);
  /* Change this to the desired color when signed out */
}

/* Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  .header-logo {
    width: 40px;
    margin: 0 10px;
    margin-top: 14px;
  }

  .header_search {
    margin-right: 0;
  }

  .header_searchInput {
    padding: 8px;
    width: 90%;
  }

  .header_searchIcon {
    padding: 4px;
    width: 20px !important;
    height: 20px !important;
  }

  .header_option {
    margin: 0 2px;
  }

  .header_optionLineOne {
    font-size: 8px;
    text-align: center;
  }

  .header_optionLineTwo {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
  }

  .header_optionBasket {
    margin-left: 2px;
    font-size: 10px !important;
  }
  .ShoppingBasketIcon {
    font-size: 15px !important;
  }

  .header_basketCount {
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .header_searchIcon {
    height: 25px !important;
  }
}
